# Supabase
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=

# Auth Secret
AUTH_SECRET=

# OAuth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Other
AUTH_RESEND_KEY= # https://authjs.dev/getting-started/authentication/email
