# Postgres connection string
POSTGRES_URL=

# Auth Secret (required by Auth.js; generate one using 'npx auth secret')
AUTH_SECRET=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# =============================================================================
#  OAuth
# =============================================================================

## GitHub client ID
AUTH_GITHUB_ID=

## GitHub client secret
AUTH_GITHUB_SECRET=

## Google client ID
AUTH_GOOGLE_ID=

## Google client secret
AUTH_GOOGLE_SECRET=
